/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

td, th{
    border: 1px solid gray;
}

table{
    width: 100%;
    border-collapse: collapse;

}